@model application.Models.AccountModels.RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form asp-action="Register" method="post">
    <div class="card">
        <div class="card-header bg-primary">
            <h2 class="text-white">Регистрација</h2>
        </div>
        <div class="card-body">
         <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <select asp-for="Role" class="form-control" asp-items="ViewBag.Roles">
                    <option value="">-- Избери --</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
                <label asp-for="Role"></label>
            </div>
            <br />
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="Email" type="email" class="form-control" placeholder="name@example.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
                <label asp-for="Email"></label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="PhoneNumbe" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                <label asp-for="PhoneNumber"></label>
            </div>
            <br />
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="Name" type="text" class="form-control" placeholder="name" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <label asp-for="Name"></label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="Address" type="text" class="form-control" placeholder="address" />
                <span asp-validation-for="Address" class="text-danger"></span>
                <label asp-for="Address"></label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="IdNo" type="text" class="form-control" placeholder="idno" />
                <span asp-validation-for="IdNo" class="text-danger"></span>
                <label asp-for="IdNo"></label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <select asp-for="ClientTypeId" class="form-control" asp-items="ViewBag.types">
                        <option value="" selected>-- Избери --</option>
                </select>
                <span asp-validation-for="ClientTypeId" class="text-danger"></span>
                <label asp-for="ClientTypeId" ></label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <select asp-for="CityId" class="form-control" asp-items="ViewBag.cities">
                        <option value="" selected>-- Избери --</option>
                </select>
                <span asp-validation-for="CityId" class="text-danger"></span>
                <label asp-for="CityId"></label>
            </div>
            <br />
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.countries">
                        <option value="">-- Избери --</option>
                </select>
                <span asp-validation-for="CountryId" class="text-danger">
                </span>
                <label asp-for="CountryId"></label>
            </div>
            <br />
        </div>
            <div class="col-md-3 col-6 NoOfEmployees d-none">
            <div class="form-floating mb-3">
                 <input asp-for="NoOfEmployees" type="number" class="form-control" placeholder="idno" />
                 <span asp-validation-for="NoOfEmployees" class="text-danger"></span>
                 <label asp-for="NoOfEmployees"></label>
                    <p class="col-12 text-center text-danger">@Html.ValidationMessage("ErrorNoOfEmployees")</p>
            </div>
         </div>
            <div class="col-md-3 col-6 DateEstablishment d-none">
            <div class="form-floating mb-3">
                 <input asp-for="DateEstablished" type="date" class="form-control" placeholder="idno" />
                 <span asp-validation-for="DateEstablished" class="text-danger"></span>
                 <label asp-for="DateEstablished"></label>
                    <p class="col-12 text-center text-danger">@Html.ValidationMessage("ErrorDateEstablished")</p>
             </div>
         </div>
           <div class="col-md-3 col-6 ActivityIds d-none">
               <div class="form-group">
                <label asp-for="ActivityIds" class="control-label"></label>
                <select asp-for="ActivityIds" asp-items="@ViewBag.activities" class="form-select dropdown-select" multiple>
                    <option value="">-- Избери --</option>
                </select>
                <span asp-validation-for="ActivityIds" class="text-danger"></span>
                    <p class="col-12 text-center text-danger">@Html.ValidationMessage("ErrorActivity")</p>
            </div>
            </div>  

        <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>
</form>
<p class="col-12 text-center text-danger">@Html.ValidationMessage("Error")</p>
<h4 class="col-12 text-center text-success">@Html.ValidationMessage("Success")</h4>