@model IEnumerable<application.Models.AccountModels.ChangeUserInfoModel>

@{
    ViewData["Title"] = "UserInfos";
}


<div class="card">
    <div class="card-header bg-primary">
        <h1 class="text-white">Мои Информации</h1>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ClientTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CityId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CountryId)
                    </th>
                    @if (User.IsInRole("Изведувач"))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.NoOfEmployees)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateEstablished)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Activities)
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
         
                 @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdNo)
                        </td>
                        <td>@ViewBag.descType</td>
                        <td>@ViewBag.descCity</td>
                        <td>@ViewBag.descCountry</td>
                        @if (User.IsInRole("Изведувач"))
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.NoOfEmployees)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateEstablished)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Activities)
                            </td>
                        }
                    </tr>
                     }
            </tbody>
        </table>
        <a asp-action="ChangeUserInfo" asp-controller="Account">Измени информации</a>
    </div>
</div>
